
.terminal {
	background-color: #1c1c1c;
	border-radius: 5px;
	padding: 1em;
	font-size: 1rem;
	font-family: 'Courier New', monospace;
}

.input-console {
	margin-left: 0.5rem;
	outline: 0 none;
	border: 0;
	color: inherit;
	width: 90%;
	font-size: inherit;
	background-color: inherit;
    --tw-ring-color: transparent  !important;
}